.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 200px 170px;
}
.projects-title {
    position: relative;
}
.projects-title h1 {
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 600;
}
.projects-title img {
    transform: scale(1.25);
    position: absolute;
    bottom: 19%;
    right: 17%;
    z-index: -1;
}
.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.projects-container img {
    box-sizing: border-box;
    width: 380px;
    height: 256px;
    transition: 0.3s;
    cursor: pointer;
}
.projects-container img:hover{
    transform: scale(1.10);
    border: 4px solid #B1D4E0;
    border-radius: 10px;
    transition: 0.3s;
}
.popup-project {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    height: 100%;
    width: 100%;
    z-index: 100;
}
.popup-project span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    height: 500px;
    background: #0C2D48;
    text-align: center;
}
.popup h {
    margin-bottom: 10px;
    padding: 20px 30px;
    font-size: 50px;
    font-weight: 600;
}
.popup ul {
    text-align: left;
    font-size: 15px;
    padding: 0px 50px;
}
.projects-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
    color: white;
    background-color: #0C2D48;
    font-family: Outfit;
}
.projects-showmore:hover {
    gap: 30px;
    transition: 0.6s;
}
.projects-github-single {
    position: absolute;
    top: 65%;
    left: 35%;
    width: 200px;
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #145DA0 -5.09%, #B1D4E0 106.28%);
    font-family: Outfit;
    font-size: 18px;
    padding: 15px 40px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.projects-github-single:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.projects-github {
    position: absolute;
    top: 65%;
    left: 15%;
    width: 200px;
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #145DA0 -5.09%, #B1D4E0 106.28%);
    font-family: Outfit;
    font-size: 18px;
    padding: 15px 40px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.projects-github:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.projects-demo {
    position: absolute;
    top: 65%;
    left: 55%;
    width: 200px;
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #145DA0 -5.09%, #B1D4E0 106.28%);
    font-family: Outfit;
    font-size: 18px;
    padding: 15px 40px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.projects-demo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width: 768px) {
    .popup {
        width: 95%;
    }
    .projects {
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .projects-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .projects-title img {
        width: 130px;
        margin-right: -20px;
    }
    .projects-container {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .projects-container img {
        width: 100%;
        height: 100%;
    }
    .projects-showmore {
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}